.app-wrapper{
    margin: 0 auto;
    max-width: 1440px;
    display: grid;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header{
    grid-area: h;
    background-color: green;
    color: #8aff04;
    font-size: 24px;
}
.nav{
    grid-area: n;
    background-color: burlywood;
    font-size: 18px;
}
.content{
    grid-area: c;
    background-color: cornflowerblue ;
}